@font-face {
    font-family: 'Champagne';
    src: url('../fonts/champagne-webfont.eot');
    src: url('../fonts/champagne-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/champagne-webfont.woff2') format('woff2'),
    url('../fonts/champagne-webfont.woff') format('woff'),
    url('../fonts/champagne-webfont.ttf') format('truetype'),
    url('../fonts/champagne-webfont.svg#champagne__limousinesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {margin: 0; padding: 0; background-color: #fff;}
body {margin: 0; padding: 0; font-family: 'Roboto', "Myriad Set Pro", Tahoma, sans-serif, 'Open Sans', "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", Proxima; font-style: normal; font-size: 14px; font-weight: normal; color: #000;}
h1 {font-family: 'Champagne'; color: #fff; font-size: 108px; transition: 1s; -webkit-animation: shadowto .5s linear; text-shadow: -5px 0 10px rgba(0, 0, 0, .3); cursor: default;}
li {list-style-type: none; font-size: 24px; font-weight: 600;}
a {text-decoration: none; border: none; color: #000; transition: .5s;}

#aWorks:hover {color: #d53636;}
#aStudio:hover {color: #049eff;}
#aContacts:hover {color: #ffc704;}
#aBlog:hover {color: #419849;}

#logo {position: absolute; top: -20px; right: 100%; z-index: 999999; transition: 1s;}
#menu {position: absolute; top: 40px;  left: 100%;  transition: 1s;}
#bgIMG {position: absolute; right: 0; bottom: 0; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; pointer-events: none; transition: 1.3s; opacity: 0;}
#indexText {position: relative; margin: 200px auto; text-align: center; width: 550px; line-height: 25px; opacity: 0; transition: 1.3s;}
#lb1 {top: 53px; left: 60px;}
#rb1 {top: 53px; left: 140px;}
#lb2 {top: 83px; left: 60px;}
#rb2 {top: 83px; left: 140px;}
#lb3 {top: 113px; left: 60px;}
#rb3 {top: 113px; left: 167px;}
#lb4 {top: 143px; left: 60px;}
#rb4 {top: 143px; left: 110px;}

.menuBracket {position: absolute; font-size: 24px; font-weight: 600; opacity: 0; transition: .5s;}